<div class="tweet-form">
  <%= form_tag(:controller => "tweets", :action => "create") do %>
    <%= text_area_tag(:content, nil, :size => "44x6", placeholder: "What's on your mind?", id: "textarea") %><br />
    <%= submit_tag("Tweet")  %>
    <!-- , class: "pull-right" -->
  <% end %>
</div>
