.container{style: "margin-top: 30px"}
  %h2= "Welcome, #{current_user.username}"
  .form-group
    = render partial: "content_form"
  .tweets-container{style: "margin-top: 300"}
    = render partial: @tweets
