<%= render :partial => "content_form" %>
<div class="tweets-container">
  <%= render :partial => @tweets %>
</div>

<script>
  $('#textarea').keypress(function(e){
    if(e.which == 13){
      e.preventDefault()
      $(this).closest('form').submit();
    }
  });
</script>
