= render partial: "content_form"
.tweets-container
  = render partial: @tweets
:javascript
  $('#textarea').keypress(function(e){
    if(e.which == 13){
      e.preventDefault()
      $(this).closest('form').submit();
    }
  });
