.container{style: "margin-top: 30px"}
  %h1 Users
  %table.table.table-hover
    %thead
      %tr
        %th Username
        %th Email
        %th Created At
    %tbody
      - @users.each do |user|
        %tr
          %td
            = user.username
          %td
            = user.email
          %td
            = user.created_at.to_s(:long)




-# %ul.container.form-group{style: "margin-top: 30px"}
-#  .form-group-item
-#   %h1 Users
-#   %table
-#    %thead
-#     %th Email
-#     %th Created At
-#    %tbody
-#     -@users.each do |user|
-#      %tr
-#       %td
-#        = user.username
-#       %td
-#        = user.created_at.to_s(:long)
