<header class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="centered clearfix">
    <div class="footer-logo">
    </div>
    <div class="footer-navigation">
      <div class="footer-links-holder">
        <center><h3><a href="">Guetter</a></h3></center>
        <ul class="footer-links">
          <center><li><a href="">Home</a> | <a href="">Contact</a> | <a href="">QWEQWE</a> | <a href="">Guetter</a></li></center>
        </ul>
      </div>
    </div>
    <div class="footer-contact">
       <h3><a href="Contact Us:">Contact Us</a></h3>
       <p><a href="Email:">Guetter@gmail.com</a> | <a href="tel:">123-456-789</a></p>
       <p><a href="Location:">Brgy. Di Makita<br />Pasensya</a></p>
    </div>
      <div class="bottom-bar">
  <center>All Rights Reserved © 2016 | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a></center>
  </div>
</footer>
