<header class="navbar navbar-inverse -custom">
  <div class="centered clearfix">
    <div class="footer-logo">
    </div>
    <div class="footer-navigation">
      <div class="footer-links-holder">
        <center><h3><a href="">Guetter</a></h3></center>
        <ul class="footer-links">
          <center><li><%= link_to "Home", root_path %> | <%= link_to "Contact" %> | <%= link_to "About" %> | <%= link_to "Valar Morghulis" %></li></center>
        </ul>
      </div>
    </div>
    <div class="footer-contact">
      <center>
       <h3>Contact Us</h3>
       <p><a href="Email:">Guetter@gmail.com</a> | <a href="tel:">123-456-789</a></p>
      </center>
    </div>
      <div class="bottom-bar">
  <center>All Rights Reserved © 2017 | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a></center>
  </div>
</footer>
